/* Override styles */
article .links {
  padding-bottom: 1em;
}

.hero .site-name {
  padding: 22px;
}

.views-row article {
  padding-top: 3em;
}
.content {
  padding-top: 2em;
}
body .hero.is-primary .navbar-item {
  color: #000;
}

@media screen and (min-width: 1216px) {
  body .container {
    max-width:900px
  }
}
